<div ng-controller="companyInfoCtrl">

    <!--page title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3>Company Information</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="table-header-desc">

            </div>
        </div>
    </div>
</div>
