<div ng-controller="monitorServerPctrl">

    <!--page title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3>Server Performance</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">

        <div class="col-lg-6 col-md-6 col-xs-6" ng-repeat="serverPer in monitorPerObj track by $index">
            <div class="x_panel server-per-widget">
                <server-performance-directive
                        server-item="serverPer"
                        pieoption="pieoption"
                ></server-performance-directive>
            </div>
        </div>
    </div>

</div>

