@import url("../fonts/font.css");

/*HTML element */
body {
    color: #47505f;
    background: #f5f5f7;
    font-family: "roboto-light", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;

}

/* theme modification */
body .container.body .right_col {
    background: #f5f5f7;
}

.nav_menu {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.left_col {
    background: #fff;
}

.nav_title {
    width: 230px;
    float: left;
    background: #fff;
    border-radius: 0;
    height: 57px;
    border-right: 1px solid #f2f6f9 !important;
    border-bottom: 1px solid #f2f6f9 !important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}

.site_title {
    font-family: "hammersmithOne-regular", sans-serif;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
    color: #AFB1A8;
}

.site_title > span {
    color: #5f5f5f;
}

.nav.child_menu > li > a,
.nav.side-menu > li > a {
    color: #000;
    font-family: "roboto-light", sans-serif;
    font-size: 15px;
}

.nav.child_menu > li > a > i,
.nav.side-menu > li > a > i {
    padding-right: 10px;
}

.nav.side-menu > li > a:hover {
    color: #AFB1A8 !important;
}

.menu_section h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}

.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 0px solid #ebeeed;
}

.nav.side-menu > li.active > a {
    text-shadow: rgba(0, 0, 0, 0) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0) 0 1px 0, inset rgba(255, 255, 255, 0) 0 1px 0;
    background: #3ED783;
    color: #fff;
}

.nav.side-menu > li.active > a:hover {
    color: #fff !important;
}

.active a span.fa {
    color: #ffffff;
}

.img-circle.profile_img {
    border: 1px solid rgba(52, 73, 94, 0);
}

.profile_info span {
    font-family: "hammersmithOne-regular", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #a4a4a4;
}

.profile_info h2 {
    font-size: 14px;
    color: #5f5f5f;
    margin: 0;
    font-weight: 300;
    font-family: "roboto-light", sans-serif;
}

.left_col > .profile {
    /* Rectangle: */
    /*background-image: linear-gradient(-180deg, #F9F9F9 0%, rgba(255, 255, 255, 0.00) 100%);*/
    background: rgb(249, 250, 251);
}

.img-circle.profile_img {
    margin-top: 15px;
}

.profile_info {
    padding: 15px 10px 15px;
}

/*top navigation */
.nav-sm {
    margin-left: -230px;
}

.nav_menu {
    border-bottom: 0px solid #fff;
}

.toggle a {
    color: #3ED783;
}

.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 230px;
    z-index: 2;
}

.nav-md {
    margin-left: 0px;
}

.nav-top-sm {
    margin-left: 160px !important;
}

.top_nav .navbar-right {
    padding-right: 20px;
}

.top_nav li a i {
    font-size: 25px;
}

.navbar-brand, .navbar-nav > li > a {
    line-height: 26px;
}

/*button wrapper */
.btn-green-sm {
    background: #3ed783;
    color: #fff;
    font-family: "roboto-bold", sans-serif;
}

.logout-btn-wrp {
    margin-top: 10px;
}

/*DASHBOARD */
/* server Performance */
.title_left > h3 {
    font-size: 20px;
    font-family: "roboto-bold", sans-serif;
}

.server-per-widget {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.server-offline-widget {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.94);
    z-index: 1000;
}

.server-offline-txt {
    width: 100%;
    overflow: hidden;
    padding-top: 0px;
    background: rgb(255, 201, 25);
}

.offline-header {
    font-family: "roboto-bold", sans-serif;
    text-align: center;
    font-size: 18px;
    padding-top: 45px;
}

.offline-icon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background: rgba(255, 201, 25, 0.18);
    text-align: center;
    margin: 40px auto;
    padding-top: 15px;
    border: 10px solid rgba(255, 201, 25, 0.11);
}

.offline-icon > i {
    color: #ffc919;
    font-size: 85px;
    text-align: center;
}

.server-offline-txt > h2 {
    text-align: left;
}

.error-msg-text > h2 {
    font-family: "roboto-bold", sans-serif;
    text-align: center;
}

.error-msg-text > h5 {
    text-align: center;
}

.x_title h2 {
    font-size: 15px;

}

.x_title {
    /*border-bottom: 1px solid #3ed783;*/
}

.s-per-chart-wrp-l {
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    position: relative;
}

.s-per-chart-wrp-l > .easy-chart-left {
    width: 100%;
    min-height: 180px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 12px;
}

.header-chart {
    font-family: "roboto-bold", sans-serif;
    font-size: 21px;
    text-align: center;
    margin-bottom: 18px;
    color: #01BAEF;
}

.d1-pie-text {
    width: 100%;
    font-family: "roboto-light", sans-serif;
    text-align: center;
    position: absolute;
    top: 115px;
    /* left: 41%; */
    font-size: 30px;
    color: #01BAEF;
}

.cpu-footer {
    padding-top: 10px;
    font-family: "roboto-bold", sans-serif;
    font-size: 15px;
    color: #20BF55;
    width: 100%;
    min-height: 40px;
    background: #f9f9f9;
    /* border-radius: 20px; */
    margin-top: 20px;
}

.session-widget {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.session-widget > .header {
    font-family: "roboto-light", sans-serif;
    font-size: 13px;
}

.session-cpu {
    font-family: "roboto-medium", sans-serif;
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.session-cpu > .count {
    font-family: "roboto-medium", sans-serif;
    width: 100%;
    min-height: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 25px;
    color: #a4a4a4;
}

.session-cpu.sm > .count {
    font-size: 15px;
}

.session-cpu > .session-name {
    width: 100%;
    min-height: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    color: #a09a9a;
}

.session-cpu.sm > .session-name {
    /*font-size: 15px;*/
    color: #e1e2e2;
}

.widget-sm-footer {
    text-align: center;
    width: 100%;
    min-height: 68px;
    border-top: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
    overflow: hidden;
    position: relative;
}

.widget-row {
    width: 100%;
    min-height: 25px;
    overflow: hidden;
    position: relative;
    margin-top: 25px;
}

.widget-row > .lg-header {
    font-family: "roboto-bold", sans-serif;
    font-size: 26px;
    text-align: center;
    color: #3ed783;
}

.widget-row > .lg-footer {
    font-family: "roboto-bold", sans-serif;
    font-size: 21px;
    text-align: center;
    margin-bottom: 18px;
    color: #3ed783;
}

.server-status-wrp {
    padding-top: 2px;
}

.server-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;

}

.online {
    background: #3ed783;
}

.offline {
    background: #d7141e;
}

.status-txt {
    font-family: "roboto-light", sans-serif;
    display: inline-block;
    padding-left: 5px;
    letter-spacing: 1px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* notification UI */
.ngn-message {
    font-family: "roboto-bold", sans-serif;
    font-size: 15px;
}

/*company information */
.table-header-desc {
    width: 100%;
    min-height: 50px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

/*package management app*/
.table-scroll-space-limit {
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.table-header-p-space {
    background: powderblue;
}
.table-row-p-space {
    background: #dcd9de;
}
.table-height-p-space {
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    position: relative;
}