<div>

    <!--page title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3>Package Management</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Create New Package</h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a><i ng-click="onClickCollapsed()" ng-class="collapsedStyle"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content" uib-collapse="isCollapsed">
                    <br>

                    <div id="pMainForm" class="form-horizontal form-label-left input_mask">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Package Name</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" placeholder="Package Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <textarea class="form-control" rows="3" placeholder="Description" data-gramm="true"
                                          data-txt_gramm_id="fd0da5ad-3145-4bcd-d2ef-66132ce9c640"
                                          data-gramm_id="fd0da5ad-3145-4bcd-d2ef-66132ce9c640" spellcheck="false"
                                          data-gramm_editor="true"
                                          style="z-index: auto; position: relative; line-height: 20px; font-size: 14px; transition: none; background: transparent !important;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Package Type</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control">
                                    <option disabled selected>Choose Package Type</option>
                                    <option value="BASIC">Basic</option>
                                    <option value="PREMIUM">Premium</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Navigation Type</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control">
                                    <option disabled selected>Choose Navigation Type</option>
                                    <option value="CALLCENTER">Call Center</option>
                                    <option value="PABX">Pabx</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Type</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control">
                                    <option disabled selected>Choose Billing Type</option>
                                    <option value="recurring">Recurring</option>
                                    <option value="onetime">One Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Veery Task</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckboxCall" value="CALL"> Call
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckboxChat" value="CHAT"> Chat
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Veery Console</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckboxS" value="SUPERVISOR_CONSOLE"> Supervisor
                                    Console
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckboxA" value="AGENT_CONSOLE"> Agent Console
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Console Access Limits</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="number" class="form-control" min="0"
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/" placeholder="Admin Access">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="number" class="form-control" min="0"
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/" placeholder="Supervisor Access">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="number" class="form-control" min="0"
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/" placeholder="Agent Access">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Space Limits</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <button type="button" class="btn btn-round btn-info" ng-click="onClickSubCollapsed()">
                                    {{subCollapsButton}}
                                </button>
                            </div>
                        </div>
                        <div class="form-group" uib-collapse="isSubCollapsed">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>

                            <div class="col-md-4 col-sm-4 col-xs-12">

                                <div class="x_panel">
                                    <div class="x_content">

                                        <div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Space
                                                    Type</label>

                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <select class="form-control" ng-model="tempSpaceLimit.spaceType">
                                                        <option disabled selected>Choose Space Type</option>
                                                        <option value="VoiceClip">Voice Clip</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Space
                                                    Unit</label>

                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <select class="form-control" ng-model="tempSpaceLimit.spaceUnit">
                                                        <option disabled selected>Choose Space Unit</option>
                                                        <option value="GB">GB</option>
                                                        <option value="MB">MB</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Space
                                                    Limit</label>

                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="number" class="form-control" min="0"
                                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/"
                                                           placeholder="Space Limit" ng-model="tempSpaceLimit.spaceLimit">
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-9">
                                                    <button type="submit" class="btn btn-success" ng-click="addSpaceLimit()">Add</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group table-height-p-space" ng-if="packageObj.spaceLimit.length > 0">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 table-header-p-space">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        Space Type
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        Space Limit
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        Space Unit
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 table-row-p-space" ng-repeat="sLimit in packageObj.spaceLimit">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        {{sLimit.spaceType}}
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        {{sLimit.spaceLimit}}
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        {{sLimit.spaceUnit}}
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <a><i ng-click="removeSpaceLimit($index)" class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Setup Fee</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="number" class="form-control has-feedback-left" min="0"
                                       ng-pattern="/^(?:100|[1-9]?[0-9])$/" placeholder="Setup Fee">
                                <span class="fa fa-usd form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Price</label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="number" class="form-control has-feedback-left" min="0"
                                       ng-pattern="/^(?:100|[1-9]?[0-9])$/" placeholder="Price">
                                <span class="fa fa-usd form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                                <button type="button" class="btn btn-primary">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row" ng-if="isCollapsed">
        <div class="col-lg-12 col-sm-12 col-xs-12">

            <div class="col-md-3 col-sm-3 col-xs-12 widget widget_tally_box" ng-repeat="package in packageDetails">
                <div class="x_panel fixed_height_390 widget-package-manager">
                    <div class="x_title">
                        <h2>Tally Design</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">

                        <div style="text-align: center; overflow: hidden; margin: 10px 5px 0;"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="canvas_line1" height="130" width="196" style="width: 196px; height: 130px;"></canvas>
                        </div>

                        <div style="text-align: center; margin-bottom: 15px;">
                            <div class="btn-group" role="group" aria-label="First group">
                                <button type="button" class="btn btn-default btn-sm">Day</button>
                                <button type="button" class="btn btn-default btn-sm">Month</button>
                                <button type="button" class="btn btn-default btn-sm">Year</button>
                            </div>
                        </div>

                        <div>
                            <ul class="list-inline widget_tally">
                                <li>
                                    <p>
                                        <span class="month">12 December 2014 </span>
                                        <span class="count">+12%</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="month">29 December 2014 </span>
                                        <span class="count">+12%</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="month">16 January 2015 </span>
                                        <span class="count">+12%</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>